header {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;

  @media screen and (max-width:990px)  {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }

  .img-banner {
    background: url(/assets/img/banner.webp) right/cover;
  }
}